:root { 
--gray_600:#797979; 
--gray_900_02:#041434; 
--gray_400:#cacaca; 
--blue_gray_100:#d3d3d3; 
--gray_900:#081539; 
--gray_900_01:#242331; 
--gray_300:#e3e3e3; 
--gray_50:#f9f9f9; 
--deep_orange_600:#f55b14; 
--blue_gray_800:#333461; 
--blue_gray_700:#4a556c; 
--deep_purple_A400:#5135ff; 
--white_A700:#ffffff; 
}